@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@200;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #303030;
    --secondary-color: #ffffff;
    --main-text-color: #ffc200;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    background: black;
}

ul li {
    list-style: none;
}

/*  header section design  */
.header {
    z-index: 2;
    position: relative;
}
.menu {
    align-items: center;
}

.header-section {
    position: absolute;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-section .logo {
    width: 50%;
}
.header-section .logo img {
    width: 20%;
    padding-left: 50px;
}

.header-section .menu {
    width: 50%;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0%;
}

.menu-ul .list-item {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}

.menu-ul .list-item a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* banner section  */
.banner {
    display: flex;
    background: var(--bg-color);
}
.banner-left {
    position: absolute;
    width: 50%;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
}

.banner-right {
    width: 70%;
    position: relative;
    top: -90px;
    left: 527px;
    height: 100vh;
    background-image: url(../img/Design.png);
    background-repeat: no-repeat;
}